
.divitemtaildesc {
  width: 320rpx;
  font-size: 16px;
  height: 80rpx;
  line-height: 40rpx;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  word-break: break-all;
  white-space: normal;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.divitemsubtaildesc {
  font-size: 16px;
  height: 50rpx;
  line-height: 50rpx;
}

.spanitemprice {
  color: #FD1616;
}

.spanitemoldprice {
  padding-left: 20rpx;
  color: #888888;
  text-decoration: line-through;
}

.textdisplay {
  display: inline;
}
